<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ page.title }} | indestructibleart.com</title>
  <meta name="description" content="{{ page.description }} {{ page.summary }}" />
  <meta name="author" content="{{ page.author }}" />
  <meta name="keywords" content="{{ page.tags }}" />
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel="author" href="humans.txt" />
  <link rel="canonical" href="" />
  <link rel="sitemap"
    type="application/xml"
    title="Sitemap"
    href="/sitemap.xml" />

  <!-- <link rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/rss.xml" /> -->

  <link rel="alternate"
    type="application/atom+xml"
    title="Atom"
    href="http://feeds.feedburner.com/indestructibleart" />

  <link type="text/css" rel="stylesheet" href="/stylesheets/css/posts.css">
  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Magnific Popup core CSS file -->
  <link type="text/css" rel="stylesheet" href="/stylesheets/css/magnific.css">

  <script src="/js/lib/audio.js"></script>
  <script>
    audiojs.events.ready(function(){
      var as = audiojs.createAll();
    });
  </script>
</head>

  <body>
    <header>
      <div class='logo group'>
        <a href='/'>
          <!-- <img src='/images/ia-icon.png' class='headerimg' /> -->
          <p id="motto">INDESTRUCTIBLE<span>ART</span></p>
        </a>
      </div>
      <div class='stickyHolder_js'>
        <nav class="group header_nav sticky_js">
          <ul class="page_links">
            <li><a href="/">Home</a></li>
            <li><a href="/podcast.html">Podcast</a></li>
            <li><a href="/videos.html">Videos</a></li>
            <li><a href="/interviews.html">Interviews</a></li>
          </ul>
          <ul class="social_links">
            <li><a href="http://www.facebook.com/indestructibleart" target="_blank"><img src="/images/facebook.png" /></a></li>
            <li><a href="http://www.twitter.com/pixelstopanels" target="_blank"><img src="/images/twitter.png" /></a></li>
            <li><a href="http://www.twitch.tv/indestructibleart" target="_blank"><img src="/images/twitch.png" /></a></li>
            <li><a href="http://www.vimeo.com/indestructibleart" target="_blank"><img src="/images/vimeo.png" /></a></li>
            <li><a href="http://www.youtube.com/user/IndestructibleArt" target="_blank"><img src="/images/youtube.png" /></a></li>
            <li><a href="http://bit.ly/iapodcast" target="_blank"><img src="/images/itunes.png" /></a></li>
            </ul>
        </nav>
      </div>
    </header>
    <div id="content" class='articles'>
      {{{ yield }}}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'indestructibleart';
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/js/lib/modernizr.js"></script>
    <script>
      var scriptTag = '<script src="javascript/lib/jquery.js"><\/script>';
      window.jQuery || document.write(scriptTag);
    </script>
    <script src="/js/main.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="/js/lib/magnific.js"></script>

    <!-- <script defer src="../javascripts/application.js"></script> -->
    <script type="text/javascript">
      var disqus_shortname = 'indestructibleart';
      (function(){
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39092592-2']);
      _gaq.push(['_setDomainName', 'indestructibleart.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function(){
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
