
<html>
<head>
  <title>{{ title }} | indestructibleart.com</title>

  <meta name="kewords" content="">
</head>

<body>
  <header>
    <a href="/" class="logo">phoot</a>
  </header>

  <h1>{{ title }}</h1>

  <div id="content">
    {{{ yield }}}
  </div>
</body>
</html>
