<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ title }} | indestructibleart.com</title>
  <meta name="description" content="{{ description }} {{ summary }}" />
  <meta name="author" content="{{ author }}" />
  <meta name="keywords" content="{{ tags }}" />
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,300' rel='stylesheet' type='text/css'>
  <link rel="author" href="humans.txt" />
  <link rel="canonical" href="" />
  <link rel="sitemap"
    type="application/xml"
    title="Sitemap"
    href="/sitemap.xml" />

  <!-- <link rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/rss.xml" /> -->

  <link rel="alternate"
    type="application/atom+xml"
    title="Atom"
    href="http://feeds.feedburner.com/indestructibleart" />

  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="images/favicon.ico">

  <script src="/javascripts/lib/modernizr.js"></script>
  <!--<script src="/javascript/audiojs/audio.js"></script>
  <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script>-->
  
</head>

<body>
  <nav class="fixed_nav">
		<ul class="page_links">
			<li><a href="http://indestructibleart.com">Home</a></li>
			<li><a href="http://www.indestructibleart.com.s3.amazonaws.com/podcast.html">Podcast</a></li>
			<li><a href="http://www.indestructibleart.com.s3.amazonaws.com/videos.html">Videos</a></li>
      <li><a href="http://www.indestructibleart.com.s3.amazonaws.com/posts.html">Blog</a></li>
		</ul>
	</nav>
	<header>
		<p id="motto">Video Games. Comics Books. <span>Awesome</span>.</p>
		<nav class="group header_nav">
			<ul class="page_links">
				<li><a href="http://indestructibleart.com">Home</a></li>
				<li><a href="http://www.indestructibleart.com.s3.amazonaws.com/podcast.html">Podcast</a></li>
				<li><a href="http://www.indestructibleart.com.s3.amazonaws.com/videos.html">Videos</a></li>
        <li><a href="http://www.indestructibleart.com.s3.amazonaws.com/posts.html">Blog</a></li>
			</ul>
			<ul class="social_links">
				<li><a href="http://indestructibleart.com/feeds/episodes.xml"><img src="images/rss.png" /></a></li>
				<li><a href="http://www.twitch.tv/indestructibleart"><img src="images/twitch.png" /></a></li>
				<li><a href="http://www.facebook.com/indestructibleart"><img src="images/facebook.png" /></a></li>
				<li><a href="http://www.twitter.com/pixelstopanels"><img src="images/twitter.png" /></a></li>
				<li><a href="http://www.vimeo.com/indestructibleart"><img src="images/vimeo.png" /></a></li>
				<li><a href="http://bit.ly/iapodcast"><img src="images/itunes.png" /></a></li>
				</ul>
		</nav>
	</header>
  <div id="mess">
    <p>Please excuse our mess as we sort through our lack of sorting.</p>
  </div>
  <div id="content">
    {{{ yield }}}
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>

<script>
  var scriptTag = '<script src="javascripts/lib/jquery.js"><\/script>';

  window.jQuery || document.write(scriptTag);
</script>


<!-- <script defer src="/javascripts/application.js"></script> -->

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39092592-2']);
    _gaq.push(['_setDomainName', 'indestructibleart.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
