/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body header {
    margin-top: -50px;
    position: relative;
    width: 100%;
    background-color: #086CA2;
    box-shadow: 1px 1px 2px;
  }
  body header .logo {
    z-index: 1;
  }
  body header .logo a {
    text-decoration: none;
    z-index: 1;
  }
  body header #motto {
    z-index: 1;
    padding-top: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: black;
    font-size: 2.3em;
  }
  body header #motto span {
    color: #C0C0C0;
  }
  body header .header_nav {
    z-index: 5;
    margin: -40px auto 0;
    width: 320px;
    text-align: center;
  }
  body header .header_nav .page_links {
    z-index: 5;
    text-align: center;
  }
  body header .header_nav .page_links li {
    display: inline;
    font-family: 'Fjalla One', sans-serif;
    list-style: none;
    border-radius: 2px;
    font-size: 1.2em;
    color: black;
    padding: 1px 3px 0px 3px;
  }
  body header .header_nav .page_links li a {
    z-index: 5;
    display: inline;
    text-decoration: none;
    color: black;
  }
  body header .header_nav .page_links li:hover {
    text-decoration: underline;
  }
  body header .header_nav .social_links {
    display: none;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px) {
  body header {
    margin-top: -60px;
  }
  body header #motto {
    padding-top: 10px;
    font-size: 3.2em;
  }
  body header .header_nav {
    margin: -60px auto 0;
    width: 480px;
  }
  body header .header_nav .page_links li {
    float: left;
  }
  body header .header_nav .social_links {
    display: inline;
  }
  body header .header_nav .social_links li {
    float: right;
    list-style: none;
    padding: 1px 2px 0px 2px;
  }
  body header .header_nav .social_links li a {
    text-decoration: none;
  }
  body header .header_nav .social_links li img {
    height: 15px;
    width: 15px;
    padding: 5px;
    background-color: #A9A9A9;
    border-radius: 2px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
  body header .header_nav .social_links li img:hover {
    background-color: #778899;
  }
}
/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px) {
  body header {
    margin-top: -95px;
  }
  body header .logo #motto {
    font-size: 5.3em;
  }
  body header .header_nav {
    margin: -100px auto 0;
    width: 685px;
  }
  body header .header_nav .page_links li {
    font-size: 1.8em;
    padding-right: 10px;
  }
  body header .header_nav .social_links img {
    margin-bottom: -15px;
    height: 30px;
    width: 30px;
  }
}
/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px) {
  body header {
    margin-top: -120px;
  }
  body header .logo #motto {
    font-size: 7.5em;
  }
  body header .header_nav {
    margin: -130px auto 0;
    width: 990px;
  }
}
/*---------------Desktop Width: 1200px---------------*/
body nav ul, body #features ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body {
    background-color: #235B79;
    margin: auto;
    width: 100%px;
    background-attachment: fixed;
    font-family: Georgia, sans-serif;
  }
  body .group:after {
    content: "";
    display: table;
    clear: both;
  }
  body .stuck_js {
    position: fixed;
    top: 0px;
    z-index: 30;
  }
  body .audiojs {
    margin: 10px 0px 0px 0px;
  }
  body .content {
    z-index: 10;
  }
  body .postTitle {
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postPublished {
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postAuthor {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postTitleLink {
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    color: black;
  }
  body .postread {
    font-weight: bold;
    color: black;
    text-align: right;
  }
  body #disqus_thread {
    width: 90%;
    max-width: 990px;
    padding: 3%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px;
    background-color: white;
  }
  body .vid_container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56%;
  }
  body .vid_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body .audiojs {
    width: 265px;
    height: 36px;
  }
  body .audiojs .scrubber {
    width: 90px;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px) {
  body .postTitle {
    font-size: 30px;
  }
  body .postPublished {
    font-size: 15px;
  }
  body .postAuthor {
    font-size: 20px;
  }
  body .audiojs {
    width: 420px;
    height: 36px;
  }
  body .audiojs .scrubber {
    width: 245px;
  }
}
/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px) {
  body .postTitle {
    font-size: 35px;
  }
}
/*---------------Desktop Width: 1200px---------------*/
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body .videos {
    height: auto;
    width: 90%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px;
    background-color: snow;
    color: black;
    margin: auto;
    margin-top: 5px;
    padding: 3%;
  }
  body .videos .postTitle {
    color: black;
  }
  body .videos a {
    text-decoration: none;
    color: black;
  }
  body .videos h4, body .videos h3, body .videos h1 {
    font-family: helvetica;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px) {
  body .videos {
    max-width: 990px;
  }
}
/*---------------Desktop Width: 1200px---------------*/
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body footer {
    height: 25px;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
/*---------------Tablet Landscape Width: 1024px---------------*/
/*---------------Desktop Width: 1200px---------------*/
