
/*---------------Site Wide CSS---------------*/
.group:after{
	content: "";
	display: table;
	clear: both;
}
.stuck_js{
	position: fixed;
  top: 0px;
  z-index:30;
}
.audiojs{
  margin: 10px 0px 0px 0px;
}
body{
	background-attachment: fixed;
	font-family: Georgia, sans-serif;
	header{
		position:relative;
		border:1px solid transparent;
		.logo{
			a{
				text-decoration: none;
			}
		}
		#motto{
			font-family: 'Fjalla One', sans-serif;
			font-weight: bolder;
			text-align: center;
			-webkit-margin-before: 15px;
	  	-webkit-margin-after: 15px;
	  	color:black;
			span{
				color: #969696;
			}
		}
		.header_nav{
			border-bottom: 1px solid black;
			.page_links{
				-webkit-padding-start: 0px;
				-webkit-padding-end: 0px;
				display:inline;
				li{
					font-family: 'Fjalla One', sans-serif;
					list-style:none;
					border-radius:2px;
					font-size:1.1em;
					color: black;
					padding: 1px 3px 0px 3px;
					margin: 0px 2px -2px 2px;
					-webkit-transition: background .5s ease-in-out;
					-moz-transition: background .5s ease-in-out;
					-o-transition: background .5s ease-in-out;
					transition: background .5s ease-in-out;
					a{
						text-decoration:none;
						color:black;
					}
					&:hover{
						background-color:#DCDCDC;
					}
				}
			}
			.social_links{
				li{
					list-style:none;
					font-size:1em;
					color: black;
					padding: 1px 3px 0px 3px;
					a{
						text-decoration:none;
					}
					img{
						padding:5px;
						background-color:#A9A9A9;
						border-radius:2px;
						-webkit-transition: background .5s ease-in-out;
						-moz-transition: background .5s ease-in-out;
						-o-transition: background .5s ease-in-out;
						transition: background .5s ease-in-out;
						&:hover{
							background-color:#778899;
						}
					}
				}
			}
		}
	}
	#mess{
		font-family: 'Fjalla One', sans-serif;
	  width:95%;
	  margin:auto;
	  margin-top:10px;
	  border: 1px solid black;
	  border-radius:2px;
	  background-color:#EEE8AA;
	  p{
	    font-size:1em;
	    text-align:center;
	    padding:2px;
	  }
	}
	.postTitle{
		font-family: 'Fjalla One', sans-serif;
  	-webkit-margin-before:0px;
  	-webkit-margin-after:0px;
  	font-weight: bolder;
  }
  .postPublished{
  	font-family: 'Fjalla One', sans-serif;
  	-webkit-margin-before:5px;
  	-webkit-margin-after:0px;
  	font-weight: bolder;
  }
  .postAuthor{
  	font-family: 'Fjalla One', sans-serif;
  	-webkit-margin-before:5px;
  	-webkit-margin-after:0px;
  	font-weight: bolder;
  }
  .postTitleLink{
  	font-family: 'Fjalla One', sans-serif;
  	text-decoration:none;
  	color:black;
  }
  .postread{
  	font-weight: bold;
  	color: black;
  	text-align: right;
  }
  #disqus_thread{
  	width:85%;
  	padding:3%;
  	margin:auto;
  	margin-top:5px;
  	margin-bottom:15px;
  	border:1px solid black;
  	border-radius:2px;
  	background-color: white;
  }
	.audios{
		height:auto;
		width:85%;
		border:1px solid black;
		border-radius:2px;
		background-color:rgba(245,245,245,.9);
		margin:auto;
		margin-top:5px;
		padding:3%;
		img{
			height:350px;
			width:350px;
			display:inline-block;
			float:right;
		}
		h4, h3, h1{
		  font-family:helvetica;
		}
		ul{
			li{
				font-size:1em;
				a{
					font-weight:bold;
					color:blue;
				}
			}
		}
		.subLinks{
			font-size:0.8em;
		}
	}
	.articles{
		height:auto;
		width:85%;
		border:1px solid black;
		border-radius:2px;
		background-color:rgba(245,245,245,.9);
		margin:auto;
		margin-top:5px;
		padding:3%;
		.articleSection{
			border: 1px solid transparent;
		}
		.articlesImgCenter{
			width:100%;
			margin:auto;
			position:relative;
		}
		.slugline{
			font-family: 'Fjalla One', sans-serif;
			font-weight: bolder;
			font-size: 1.2em;
		}
		.sluglineCenter{
			font-family: 'Fjalla One', sans-serif;
			margin: auto;
			text-align: center;
			font-weight: bolder;
			font-size: 1.5em;
		}
		.sluglineLeft{
			font-family: 'Fjalla One', sans-serif;
			font-weight: bolder;
			font-size: 1.5em;
			float: left;
			clear: both;
		}
		blockquote{
			position: relative;
			width: 96%;
			margin: 5px auto;
			border: 1px solid black;
			font-family: Times;
			background-color: white;
			padding: 15px;
		}
		.flash_container{
			object{
				margin:auto;
				text-align: center;
			}
			margin:auto;
			padding:10px;
			border:1px solid black;
		}
		h4, h3, h1{
		  font-family:helvetica;
		}
		ul{
			li{
				font-size:1em;
				a{
					font-weight:bold;
					color:blue;
				}
			}
		}
	}
	.videos{
		height:auto;
		width:85%;
		border:1px solid black;
		border-radius:2px;
		background-color:rgba(128,128,128,.9);
		color:#ffffff;
		margin:auto;
		margin-top:5px;
		padding:3%;
		.postTitle{
			color:white;
		}
		a{
			text-decoration:none;
			color:blue;
		}
		h4, h3, h1{
		  font-family:helvetica;
		}
	}
	.vid_container{
		position:relative;
		width:100%;
		height: 0;
		overflow: hidden;
		padding-top: 56%;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	table{
		background-color: #FFFAFA;
		border:1px solid black;
		text-align: center;
		border-collapse: collapse;
		a{
			color:blue;
			text-decoration:none;
		}
		thead{
			tr{
				border-bottom:1px solid black;
			}
		}
		td{
			border:1px solid black;
		}
		.tableOdd{
			background-color: #FFF8DC;
		}
	}
	footer{
		height:25px;
	}
}

/*---------------Mobile Width CSS---------------*/
@media screen and (min-width: 320px){
	body{
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
		margin:auto;
		width:320px;
		header{
	 		width:320px;
	 		background-color: white;
	 		.logo{
	 			.headerimg{
	 				display:none;
	 			}
	 			#motto{
					font-size:1.5em;
	 			}
	 		}
	 	  .header_nav{
	 	  	width:320px;
	 	  	text-align: center;
	 	  }
	 	}
	 	.page_links{
	 		text-align: center;
	 	  li{
	 	  	display:inline;
	 	  	font-size: 1em;
	  	}
	 	}
	 	.social_links{
	 	  display:none;
	 	}
	 	.postTitle{
 	  	font-size:22px;
 	  }
 	  .postPublished{
 	  	font-size:10px;
 	  }
 	  .postAuthor{
 	  	font-size:15px;
 	  }
 	  .articles{
 	  	.articlesImgLeft{
 	  		width:100%;
 	  		margin:auto;
 	  		position:relative;
 	  	}
 	  	.articlesImgRight{
 	  		width:100%;
 	  		margin:auto;
 	  		position:relative;
 	  	}
 	  }
	 	.audiojs{
	    width:265px;
	    height:36px;
	    .scrubber{
	      width:90px;
	    }
	  }
	}
}

/*---------------Mobile Landscape Width---------------*/
@media screen and (min-width: 480px){
	body{
		width:480px;
		header{
			width:480px;
			.header_nav{
				width:480px;
				.page_links{
					li{
						float:left;
					}
				}
				.social_links{
					display:inline;
					li{
						float:right;
					}
					img{
						height:12px;
						width:12px;
					}
				}
			}
		}
	}
}

/*---------------Tablet Portrait CSS---------------*/
@media screen and (min-width: 768px){
	body{
		background-image: url('../images/background.png');
		background-repeat: repeat;
		width:768px;
		margin:auto;
		header{
 	  	width:768px;
 	  	background-color:transparent;
 	  	.logo{
	 	  	.headerimg{
	 	  		height:120px;
	 	  		-webkit-margin-before: -15px;
	 	  		-webkit-margin-start: 15px;
	 	  		padding-top: 10px;
	 	  		display:block;
	 	  		float:left;
	 	  	}
	 	  	#motto{
					font-size:4.1em;
					padding-top:15px;
				}
	 	  }
	 	  .header_nav{
 	  		width:768px;
 	  	 	.page_links{
  				li{
  					font-size: 1.5em;
  				}
  			}
  			.social_links{
    			img{
    				height:15px;
    				width:15px;
    			}
  			}
 	  	}
 	  }
 	  .articles{
 	  	.articlesImgLeft{
 	  		display: inline-block;
 	  		width:40%;
 	  		float:left;
 	  		position:relative;
 	  		//clear:left;
 	  	}
 	  	.articlesImgRight{
 	  		width:40%;
 	  		float:right;
 	  		position:relative;
 	  		//clear:right;
 	  	}
 	  }
 	  .postTitle{
 	  	font-size:30px;
 	  }
 	  .postPublished{
 	  	font-size:15px;
 	  }
 	  .postAuthor{
 	  	font-size:20px;
 	  }
 	  .audiojs{
	    width:420px;
	    height:36px;
	    .scrubber{
	      width:245px;
	    }
	  }
	}
}

/*---------------Full Width CSS---------------*/
@media screen and (min-width: 1000px){
	body{
		width:990px;
		margin:auto;
		header{
 	  	width:990px;
 	  	.logo{
	 	  	.headerimg{
	 	  		height:150px;
	 	  	}
	 	  	#motto{
					font-size:4.6em;
				}
	 	  }
	 	  .header_nav{
 	  		width:990px;
 	  	}
 	  }
 	  .postTitle{
 	  	font-size:35px;
 	  }
	}
}