
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px){
  body{
    .audios{
      height:auto;
      width:85%;
      border:1px solid black;
      border-radius:2px;
      background-color:rgba(169,169,169,.9);
      margin:auto;
      margin-top:5px;
      padding:3%;
      img{
        height:350px;
        width:350px;
        display:inline-block;
        float:right;
      }
      h4, h3, h1{
        font-family:helvetica;
      }
      ul{
        li{
          font-size:1em;
          a{
            font-weight:bold;
            color:blue;
          }
        }
      }
      .subLinks{
        font-size:0.8em;
      }
    }
  }
}

/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px){

}

/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px){

}

/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px){

}

/*---------------Desktop Width: 1200px---------------*/
@media screen and (min-width: 1200px){

}