
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px){
  body{
    #features{
      background-color: rgba(255,250,250,1);
      border:1px solid transparent;
      box-shadow: 2px 2px 2px;
      margin: auto;
      width:90%;
      padding:0 3% 3% 3%;
      margin-top:5px;
    }
    .featured-container{
      a{
        text-decoration: none;
      }
      .listheader{
        list-style: none;
        p{
          font-family: 'Fjalla One', sans-serif;
          font-weight: bolder;
          font-size: 1.3em;
          text-align: center;
        }
      }
      .featured{
        list-style: none;
        min-height: 70px;
        background-color: hsla(0, 0%, 0%, .4);
        background-position: right;
        background-size: cover;
        padding: 5px;
        border: 1px solid black;
        .postTitle{
          font-weight: normal;
          font-size: 1.2em;
          color: white;
          text-shadow: black 2px 2px 2px;
        }
        .postPublished{
          font-weight: normal;
          font-size: 1em;
          color: white;
          text-shadow: black 2px 2px 2px;
        }
      }
    }
  }
}

/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px){

}

/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px){
  body{
    #features{
      max-width: 990px;
    }
    .featured-container{
      float: right;
      width: 48%;
    }
  }
}

/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px){
  
}

/*---------------Desktop Width: 1200px---------------*/
@media screen and (min-width: 1200px){

}