
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px){
  body{
    .latest-container{
      display: none;
    }
  }
}

/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px){

}

/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px){
  body{
    .latest-header{
      background-color:rgba(255,250,250,1);
      width: 155px;
      box-shadow: 2px 2px 2px black;
      p{
        font-weight: bolder;
        font-size: 1.2em;
        padding: 2px
      }
    }
    .latest-container{
      display: inherit;
      margin: auto;
      width: 700px;
      padding: 20px;
      .latest{
        text-decoration: none;
        padding: 10px;
        width: 150px;
        height: 150px;
        border: 1px solid transparent;
        box-shadow: 2px 2px 2px black;
        background-image: url("/images/ia-latest.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        .postTitle{
          font-weight: normal;
          font-size: 1.5em;
          color: #191970;
          text-align: center;
          padding-top: 15px;
        }
        .postPublished{
          font-weight: normal;
          font-size: 1.2em;
          color: #191970;
          text-align: center;
        }
      }
    }
  }
}

/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px){
  body{
    .latest-container{
      width: 990px;
      .latest{
        margin: 0 33px 0 33px;
        width: 155px;
        height: 155px;
      }
    }
  }
}

/*---------------Desktop Width: 1200px---------------*/
@media screen and (min-width: 1200px){

}